---
import Navigation from "./Navigation.astro";
//import Navigation from "./Navigation.jsx";
---

<header class="flex bg-black w-full justify-between fixed">
    <h1>For Logo</h1>
    <nav class="">
        <Navigation/> 
    </nav>
    <h1 class="text-white">For user</h1>
</header>