---
import Navigation from "./Navigation.astro";
---

<header class="flex bg-black w-full justify-between fixed">
    <h1>For Logo</h1>
    <nav class="">
        <Navigation/> 
    </nav>
    <h1>For User</h1>
</header>