---
import Navigation from "./Navigation.astro";
---

<header class="flex z-10 sticky top-0 bg-black w-full justify-between">
    <h1>For Logo</h1>
    <nav class="">
        <Navigation/> 
    </nav>
    <h1>For User</h1>
</header>