---
import navigation from './data/navigation.json';
import HamburgerMenu from '../shadcn/HamburgerMenu';
import logo from '../../assets/images/T_ChatEmo_H_02.png'
import AvatarComponent from '../shadcn/AvatarComponent'
---

<header class="flex z-10 sticky top-0 bg-black w-full h-20 justify-between items-center p-5">
    <div class="w-[50px] flex justify-center items-center">
        <img src={logo.src} alt="Wuthering Tools Logo" class="object-contain">
    </div>
    <nav class="hidden md:flex nav-links">
        <ul class="flex mx-auto">
            {navigation.items.map((item) => (
              <li class="">
                <a 
                  href={`${item.link}`}
                  class={`transition nav-link py-3 px-6 ${Astro.url?.pathname === item.link ? "selected font-semibold" : ""}`}
                >
                  {item.text}
                </a>
              </li>
            ))}
        </ul>
    </nav>
    <div class="md:hidden">
        <HamburgerMenu client:load/>
    </div>
    <div class="hidden md:flex">
        <AvatarComponent client:load/>
    </div>
</header>