---
import navigation from './data/navigation.json';
---

<div class="nav-links">
  <ul class="flex mx-auto">
    {navigation.items.map((item) => (
      <li class="">
        <a 
          href={`${item.link}`}
          class={`transition nav-link ${Astro.url?.pathname === item.link ? "selected font-semibold" : ""}`}
        >
          {item.text}
        </a>
      </li>
    ))}
  </ul>
</div>