---
import Layout from "../layouts/Layout.astro";
import MySelect from "@/components/shadcn/MySelect"
import ElementFilterToggles from "@/components/shadcn/ElementFilterToggles"
import WeaponFilterToggles from "@/components/shadcn/WeaponFilterToggles";

import aero from "@/assets/images/element-types-icons/element_aero.png"
import { Image } from "astro:assets";


const sortfilters = [
    {
        name: "Sort By Name (A-Z)",
        value: "name-az"
    },
    {
        name: "Sort By Name (Z-A)",
        value: "name-za"
    },
    {
        name: "Sort By Release (New to Old)",
        value: "release-new-old"
    },
    {
        name: "Sort By Release (Old to New)",
        value: "release-old-new"
    }
]


---

<Layout title="Characters" pageTitle="Characters" description="View character information here.">
    <div class="characters-content">
        <div id="character-filters" class="character-filters items-center">
            <MySelect client:load placeholder="Sort By" data={sortfilters}/>
            <ElementFilterToggles client:load/>
            <WeaponFilterToggles client:load/>
        </div>
        <div id="character-list">

        </div>
    </div>
</Layout>

<style>
    .characters-content {
        height: 100vh;
        width: 100%;
        padding-top: 75px;
        background-color: #1E1E1E;
        color: white;
    }
    .character-filters {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }
</style>