---
import Layout from "../layouts/Layout.astro";


---

<Layout>
    <div class="characters-content">
        This is a layout.
    </div>
</Layout>

<style>
    .characters-content {
        padding-top: 75px;
    }
</style>