---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Planner" pageTitle="Planner" description="Track your collection progress for ascending resonator ascension level and resonator talent level, and weapon level.">
    <div class="planner-content">
        <div id="planner-filters" class="planner-filters">
            <div id="sort-by-filter">
                <button class="bg-white">Sort By</button>
            </div>
        </div>
        <div id="planner-list">

        </div>
    </div>
</Layout>

<style>
    .planner-content {
        padding-top: 75px;
        background-color: #1E1E1E;
        color: white;
    }
    .planner-filters {
        height: 50px;
    }
</style>