---
import Layout from "../layouts/Layout.astro";
import WeaponsContent from "@/components/shadcn/WeaponsContent";

---

<Layout title="Weapons" pageTitle="Weapons" description="View weapon information here.">
    <div class="weapon-content">
        <div id="weapon-list">
            <WeaponsContent client:load/>
        </div>
    </div>
</Layout>

<style>
    .weapon-content {
        min-height: 100vh;
        width: 100%;
        padding-block: 2vh;
        padding-inline: 15vw;
        background-color: #1E1E1E;
        color: white;
    }
    @media screen and (max-width: 639px) {
        .characters-content {
            padding-inline: 10vw;
        }
    }
</style>