---
import { Image } from "astro:assets";
import wutheringlogo from '../assets/images/Wuthering-Waves-Logo.png'
import data from './layouts/data/homedata.json'

---

<div id="homecontent" class="home bg-[#1E1E1E]">
    <Image src={wutheringlogo} alt="Wuthering Waves Logo"/>
    <div class="flex flex-col lg:flex-row gap-x-[4vw] gap-y-[4vh] justify-center">
        {data.items.map((item) => (
            <a href={`${item.link}`} class="transition flex-col bg-[#606265] hover:bg-[#727579] hover:scale-[102%] boxes">
                <h2 class="">{item.header}</h2>
                <p>{item.description}</p>
            </a>
        ))
        }
    </div>
</div>

<style>
    .home {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-block: 2vh;
        padding-inline: 15vw;
        display: flex;
        flex-direction: column;
    }
    .boxes {
        width: 23%;
        align-items: center;
        justify-items: center;
        font-family: "Poppins", sans-serif;
        color: white;
        border-radius: 10px;
        font-size: smaller;
        padding: 2rem;
    }
    @media screen and (max-width: 639px) {
        .boxes {
        width: auto;
        align-items: center;
        justify-items: center;
        font-family: "Poppins", sans-serif;
        color: white;
        border-radius: 10px;
        font-size: smaller;
        padding: 2rem;
        }
        .home {
            padding-inline: 10vw;
        }
    }
    .boxes h2{
        padding-bottom: 20px;
        font-size: large;
        font-weight: normal;
    }
    .boxes p{
        font-weight: lighter;
        text-align: center;
    }
</style>